<!DOCTYPE html>
<html>
  <head>
    <title>lankp.github.io</title>
  </head>
<body>
<h1>Pat Lank</h1>
<p>I am currently a second year mathematics PhD student at University of South Carolina working under the supervision of Dr. Matthew Ballard.</p>
<p>Currently, I am investigating questions regarding algebraic geometry in nonzero characteristic utilizing derived categories. Particularly, this means studying the structure and components of a derived category for a scheme with prime characteristic. Lately, this has led to development of results regarding singularity theory via Frobenius morphism.</p>
</body>
</html>
