---
layout: default
---

<div class="row">
  <div class="col-md-6 content-column">
    {{ content }}
  </div>
  <div class="col-md-6">
<img src="{{ site.github.url }}/assets/img/MinesfallNH102024.jpeg" alt="Home" width="100%">
<p> </p>
<img src="{{ site.github.url }}/assets/img/MinesfallNH102020a.jpeg" alt="Home" class="img-fluid mb-3">
<img src="{{ site.github.url }}/assets/img/MinesfallNH062020.jpeg" alt="Home" class="img-fluid">
<img src="{{ site.github.url }}/assets/img/MinesfallNH102024a.jpeg" alt="Home" width="100%">
<img src="{{ site.github.url }}/assets/img/BaileyJune2020.jpeg" alt="Home" class="img-fluid mb-3">
<img src="{{ site.github.url }}/assets/img/BozJune2020.jpeg" alt="Home" class="img-fluid">
  </div>
</div>
